{% extends "about/base.html" %}

{% block title %}Reader | ChemDataWriter{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="font-weight-normal" style="color: #002b04">About ChemDataWriter</h1>
  </div>
  <section class="section section-default">
    <div class="container py-1">
      <div class="row">
        <div class="col-sm-8">
          <p class="feature-display">ChemDataWriter is a transformer-based toolkit for auto-generating books that summarise research.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-default">
    <div class="container py-3">
      <div class="row">

        <div class="col-sm-8">
          <h3 class="font-weight-normal" style="color: #002b04">Features</h3>
            <p><i>Reader</i> processes the raw XML/HTML paper files and converts them into a Reader object. </p>
            <p><i>Finder</i> suggests the key topics of the paper corpus. </p>
            <p><i>Retriever</i> retrieves the papers from the corpus based on the key topics.</p>
            <p><i>Summariser</i> summarises the papers based on the input text.</p>
            <p><i>Paraphraser</i> paraphrases the summarised text.</p>
            <p><i>Title Generator</i> generates the short title in terms of the original long title.</p>
            <p><i>LaTeX Generator</i> reorganises the summarised text and converts it into a LaTeX file.</p>
        </div>
           <div class="col-sm-4 text-center">
              <img class="img-about" src="/static/images/quill-pen.svg">
          </div>

      </div>
    </div>
  </section>


      </div>
    </div>
  </section>
</div>
{% endblock %}