{% extends "about/base.html" %}

{% block title %}Citing | Battery Data{% endblock %}

{% block content %}
  <div class="container page-container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Citing ChemDataWriter</h1>
        <p class="feature-display">Cite the following work for the use of ChemDataWriter:</p>
          <p class="lead">ChemDataWriter: A Transformer-based Toolkit for Auto-generating Books That Summarise Research</p>
      </div>
    </div>

  </div>
{% endblock %}