{% extends "about/base.html" %}

{% block title %}Finder | ChemDataWriter{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="font-weight-normal" style="color: #002b04">ChemDataWriter - Finder</h1>
  </div>
  <section class="section section-default">
    <div class="container py-1">
      <div class="row">
        <div class="col-sm-8">
          <p class="feature-display"><i>Finder</i> is designed to suggest key topics in a corpus of scientific research papers. </p>
            <p class="feature-display"><i>Finder</i> is built upon the <i>BERTopic</i> library, which leverages transformers to identify and classify the key themes and topics within a corpus of documents.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-default">
    <div class="container py-3">
      <div class="row">

        <div class="col-sm-8">
          <h3 class="font-weight-normal" style="color: #002b04">Features</h3>
            <p>Identify relevant topics within a large collection of scientific papers</p>
            <p>Gain insights into emerging trends and topics within a particular field</p>
            <p>Build your own models: embeddings, dimensionality reduction, clustering, tokeniser, weighting scheme, representation tuning</p>
            <p>Visualise the topics per class or over time; calculate the probability of each topic</p>
        </div>
           <div class="col-sm-4 text-center">
              <img class="img-about" src="/static/images/quill-pen.svg">
          </div>

      </div>
    </div>
  </section>
<div class="py-4 bg-gray">
    <div class="container py-3">
      <div class="row mb-6 ">
        <div class="col-sm-3">
                <h3 class="font-weight-normal" style="color: #002b04">Source Code</h3>
                <div class="pt-2">
                  <a class="btn btn-outline-secondary" href="https://github.com/ShuHuang/chemdatawriter/blob/main/chemdatawriter/finder.py">Explore</a>
                </div>
        </div>
        <div class="col-sm-3 ">
          <h3 class="font-weight-normal" style="color: #002b04">Documentation</h3>
                <div class="pt-2">
                  <a class="btn btn-outline-secondary" href="https://batterydataextractor.readthedocs.io/en/latest/">Explore</a>
                </div>
        </div>
      </div>
    </div>
   </div>


      </div>
    </div>
  </section>
</div>
{% endblock %}