{% extends "about/base.html" %}

{% block title %}Paraphraser | ChemDataWriter{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="font-weight-normal" style="color: #002b04">ChemDataWriter - Paraphraser</h1>
  </div>
  <section class="section section-default">
    <div class="container py-1">
      <div class="row">
        <div class="col-sm-8">
          <p class="feature-display"><i>Paraphraser</i> is designed to enable researchers to generate new versions of existing text data that are semantically equivalent but structurally different. </p>
            <p class="feature-display"><i>Paraphraser</i> is based on a back-translation strategy, which involves translating the text from the original language to another language and then translating it back again.
            </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-default">
    <div class="container py-3">
      <div class="row">
        <div class="col-sm-8">
          <h3 class="font-weight-normal" style="color: #002b04">Features</h3>
            <p>Avoiding plagiarism by generating new versions that are syntactically and structurally different.</p>
            <p>Identify and preserve the underlying meaning and intent of the original text</p>
            <p>Create multiple versions of a document for different audiences </p>
            <p>Control the diversity by selecting different languages to be back-translated: French, German, Arabic, Chinese, Russian, Japanese</p>
        </div>
           <div class="col-sm-4 text-center">
              <img class="img-about" src="/static/images/quill-pen.svg">
          </div>

      </div>
    </div>
  </section>
<div class="py-4 bg-gray">
    <div class="container py-3">
      <div class="row mb-6 ">
        <div class="col-sm-3">
                <h3 class="font-weight-normal" style="color: #002b04">Source Code</h3>
                <div class="pt-2">
                  <a class="btn btn-outline-secondary" href="https://github.com/ShuHuang/chemdatawriter/blob/main/chemdatawriter/paraphraser.py">Explore</a>
                </div>
        </div>
        <div class="col-sm-3 ">
          <h3 class="font-weight-normal" style="color: #002b04">Documentation</h3>
                <div class="pt-2">
                  <a class="btn btn-outline-secondary" href="https://batterydataextractor.readthedocs.io/en/latest/">Explore</a>
                </div>
        </div>
      </div>
    </div>
   </div>


      </div>
    </div>
  </section>
</div>
{% endblock %}