{% extends "about/base.html" %}

{% block title %}Retriever | ChemDataWriter{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="font-weight-normal" style="color: #002b04">ChemDataWriter - Retriever</h1>
  </div>
  <section class="section section-default">
    <div class="container py-1">
      <div class="row">
        <div class="col-sm-8">
          <p class="feature-display"><i>Retriever</i> is a powerful tool for efficient and effective text retrieval in scientific paper corpora given a topic. </p>
            <p class="feature-display"> Built upon the <i>Haystack</i> library, <i>Retriever</i> uses transformers-based models to search, query, and re-rank large volumes of text of scientific documents.
</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-default">
    <div class="container py-3">
      <div class="row">
        <div class="col-sm-8">
          <h3 class="font-weight-normal" style="color: #002b04">Features</h3>
            <p>Rank the text of a corpus of a given topic according to the frequency, word order and syntax</p>
            <p>Performs document retrieval by sweeping through text which was saved in a DocumentStore</p>
            <p>Select various retrieval methods: BM25, DensePassage, TableText, Embedding, Tfidf, MultiModal, Web </p>
            <p>Define the number of documents that need to retrieve and re-rank by importance or date</p>
        </div>
           <div class="col-sm-4 text-center">
              <img class="img-about" src="/static/images/quill-pen.svg">
          </div>

      </div>
    </div>
  </section>
<div class="py-4 bg-gray">
    <div class="container py-3">
      <div class="row mb-6 ">
        <div class="col-sm-3">
                <h3 class="font-weight-normal" style="color: #002b04">Source Code</h3>
                <div class="pt-2">
                  <a class="btn btn-outline-secondary" href="https://github.com/ShuHuang/chemdatawriter/blob/main/chemdatawriter/retriever.py">Explore</a>
                </div>
        </div>
        <div class="col-sm-3 ">
          <h3 class="font-weight-normal" style="color: #002b04">Documentation</h3>
                <div class="pt-2">
                  <a class="btn btn-outline-secondary" href="https://batterydataextractor.readthedocs.io/en/latest/">Explore</a>
                </div>
        </div>
      </div>
    </div>
   </div>


      </div>
    </div>
  </section>
</div>
{% endblock %}