{% extends "about/base.html" %}

{% block title %}Summariser | ChemDataWriter{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="font-weight-normal" style="color: #002b04">ChemDataWriter - Summariser</h1>
  </div>
  <section class="section section-default">
    <div class="container py-1">
      <div class="row">
        <div class="col-sm-8">
          <p class="feature-display"><i>Summariser</i> is a transformer-based tool to generate concise and informative summaries of text data. </p>
            <p class="feature-display"><i>Summariser</i> adopts one of multiple text summarisation models to summarise the text that has been retrieved by <i>Retriever</i>.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-default">
    <div class="container py-3">
      <div class="row">

        <div class="col-sm-8">
          <h3 class="font-weight-normal" style="color: #002b04">Features</h3>
            <p>Implement extractive text summarisation to generate text that summarises research</p>
            <p>Select various transformer-based text summarisation models: BART, PEGASUS, T5</p>
            <p>Customise by adjusting its parameters and settings, including the length of the summary, the level of detail, and the type of content that is emphasised.</p>
        </div>
           <div class="col-sm-4 text-center">
              <img class="img-about" src="/static/images/quill-pen.svg">
          </div>

      </div>
    </div>
  </section>
<div class="py-4 bg-gray">
    <div class="container py-3">
      <div class="row mb-6 ">
        <div class="col-sm-3">
                <h3 class="font-weight-normal" style="color: #002b04">Source Code</h3>
                <div class="pt-2">
                  <a class="btn btn-outline-secondary" href="https://github.com/ShuHuang/chemdatawriter/blob/main/chemdatawriter/summariser.py">Explore</a>
                </div>
        </div>
        <div class="col-sm-3 ">
          <h3 class="font-weight-normal" style="color: #002b04">Documentation</h3>
                <div class="pt-2">
                  <a class="btn btn-outline-secondary" href="https://batterydataextractor.readthedocs.io/en/latest/">Explore</a>
                </div>
        </div>
      </div>
    </div>
   </div>


      </div>
    </div>
  </section>
</div>
{% endblock %}